html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F7FB;
    height: 100%;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

#root {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blob1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 15rem;
}

.blob2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15rem;
}

/* Media Queries */

@media screen and (max-width: 550px) {
    .blob1 {
        width: 11rem;
    }
    
    .blob2 {
        width: 10rem;
    }
}